@charset "UTF-8";
.header_all {
  background-color: rgb(255, 247, 247);
  width: 100%;
  position: relative;
}

.header_inner nav ul {
  word-spacing: 50px;
  text-align: center;
  width: 100%;
  padding:30px 0;
  margin-right: 20px;
}
.header_inner nav ul li {
  display: inline;

  padding-bottom: 50px;
  font-weight: bold;
}
.header_inner nav ul li .color {
  color: #ff8856;
}
.header_inner nav ul a:hover{
  opacity: 0.5;
}
.top_inner {
  width: 100%;
  position: relative;
  height: 600px;
  background-image: url("../img/top.png");
  text-align: center;
}

.top_inner img {
  
  width:80%;
  height: auto;
}
.top_title {
  text-shadow: 10px 10px 0px rgb(255, 213, 213);
  width: 60%;
  left: 22%;
  top: 35%;
  background-color:rgba(255, 255, 255, 0.8);
  position: relative;
}
.top_inner h1 {
  font-size: 70px;
  color: #ff8856;
}

.top_inner h2 {
  margin-top: 0;
  font-size: 20px;
}

.top_inner p {
  font-size: 20px;
  color: #777;
  position: relative;
  top: 50px;
}
.section {
  margin: 150px 0;
}

.news {
  background-color:rgb(245, 245, 245);
  border: 2px solid #777;
  display: grid;
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding: 50px 0 30px;
  margin-top: 10%
}
.news h3 {
  text-align: center;
  font-size: 40px;
  color: #ff8856;
  font-weight: bold;
  line-height: 1;
}
.news h3 small {
  font-size: 20px;
}
.news .news_list {
  margin: 0 50px;
  text-align: left;
  right: 1px;
  padding: 30px;
}
.news .news_list li {
  font-size: 18px;
  line-height: 2; 
  color:#333;
}
.news .more {
  background: #888;
  text-align: center;
  width: 20%;
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
}
.news .more a {
  color: #fff;
  font-weight: bold;
}
.feature {
  width: 100%;
  overflow: hidden;
  
  position: relative;
}
.feature::after {
  content: "";
  position: absolute;
  background: url("../img/photo4.png")no-repeat center;
  background-position: right;
  background-size: 550px 500px;
  right: 150px;
  top: 70px;
  width: 100%;
  height: 100%;
}
.feature_inner {
  width: 50%;
  background-color: #fff;
  border: solid 3px #ff8856;
  padding-right: 150px;
  z-index: 3;
  margin-top: 10%;
}
.feature_inner h4 {
  font-size: 50px;
  padding: 15% 0 0 15%;
  color: #ff8856;
}
.feature_inner small {
  font-size: 20px;
  padding-left: 15%;
  font-weight: bold;
}
.feature_inner p {
  width: 50%;
  margin: 0 auto;
  line-height: 2.5;
  padding: 10% 0;
}
.service {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.service::after {
  content: "";
  position: absolute;
  background: url("../img/photo4.png")no-repeat center;
  background-position: left;
  background-size: 550px 500px;
  margin-left: 150px;
  
  top: 70px;
  width: 100%;
  height: 100%;
}

.service_inner {
  margin: 0 0 0 auto;
  
  width: 50%;
  background-color: #fff;
  border: solid 3px #ff8856;
  padding-left: 150px;
  z-index: 3;
  margin-top: 10%;
}
.service_inner h4 {
  font-size: 50px;
  padding: 15% 0 0 15%;
  color: #ff8856;
}
.service_inner small {
  font-size: 20px;
  padding-left: 15%;
  font-weight: bold;
}
.service_inner p {
  width: 50%;
  margin: 0 auto;
  line-height: 2.5;
  padding: 10% 0;
}
.recruit {
  width: 100%;
  
  position: relative;
}
.recruit::after {
  content: "";
  position: absolute;
  background: url("../img/photo4.png")no-repeat center;
  background-position: right;
  background-size: 550px 500px;
  right: 150px;
  top: 0;
  width: 100%;
  height: 100%;
}

.recruit_inner {
  
  width: 50%;
  background-color: #fff;
  border: solid 3px #ff8856;
  padding-right: 150px;
  z-index: 3;
  margin-top: 10%;
}
.recruit_inner h4 {
  font-size: 50px;
  padding: 15% 0 0 15%;
  color: #ff8856;
}
.recruit_inner small {
  font-size: 20px;
  padding-left: 15%;
  font-weight: bold;
}
.recruit_inner p {
  width: 50%;
  margin: 0 auto;
  line-height: 2.5;
  padding: 10% 0;
}



.contact {
  margin-top: 10%;
  border: solid 1px #555;
  background-color: rgb(255, 248, 238);
  position: relative;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
.contact h3 {
  font-size: 50px;
  color: #ff8856;
  text-align: center;
}
.contact h3 small {
  font-size: 20px;
  color: #555;
}

.contact p {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}
.contact .btn a {
  text-align: center;
  position: relative;
  background:#ff8856;
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
}
footer {
  display: inline-block;
  position: relative;
  width: 100%;
}
.footer_inner {
  margin-right: 0;
  float: right;
  position:relative;
  margin-left: 200px;
  z-index: 1;
  
  top: 170px;
  right: 40px;
}
.footer_inner img {
  width: 100px;
}
.footer_inner p {
  width: 150px;
  font-size: 10px;
}
.footer_bg {
  width: 100%;
  float: right;
  height: 300px;
  background-color: rgb(255, 242, 242);
  position: relative;
  z-index: 0;
}
.footer_list ul {
  display: inline;
  float: left;
  overflow: hidden;
  z-index: 1;
}
.footer_list ul::after {
  content: "";
  position: absolute;
  height: 300px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  color: #555;
  top: 0;
}
.footer_list ul li {
  width: 200px;
  padding: 20px 0 0 40px;
  font-weight: bold;
  font-size: 12px;
}
.copyright {
  float: right;
  font-size: 5px;
  font-weight: bold;
  padding: 10px;
}